<!DOCTYPE html>
    <html lang="de">
    <head>
        {% include meta_tags/meta.html %}
        {% include externals/styling.html %}
    </head>
    <body>
        <header class="slider" >
            <div class="slide image1"></div>
            <div class="slide image2"></div>
            <div class="slide image3"></div>
            <div class="slide image4"></div>

        {% include page/navigation.html %}
            <section id="greating">
                <div class="sloganWrapper"><div class="boxShadow"><h1 id="slogan">Your Sailing Adventure</h1></div></div>
                <div class="downWrapper">
                    <a id="down" href="#DerTurn" ><img id="arrow" src="assets/img/compass.svg" alt="Arrow - Go to next Section"style="width:80px;"></a>
                    <div class="vline"></div>
                </div>
            </section>
        </header>
        
        
        <div class="wrapper" id="wrapper">
            {{ content }}
        </div>
        <!-- Footer -->
        {% include page/footer.html %}
        {% include externals/scripting.html %}
    </body>
</html>