---
layout: reduced
---

<main>
    <section class="subsection" id="impressum">
        <h2>Impressum</h2>
        <p id="slognaImpressum">Ein Projekt des OSYC – Austrian Offshore Yacht Club</p>

        <h3>Anschrift:</h3>
        <address>
        OSYC – Austrian Offshore Yacht Club<br>
        Wienerbergstraße 16-20/14/2<br>
        1120 Wien
        </address>
        <h3>Vereinsregisternummer:</h3>

        <p>ZVR 609314026</p>

        <h3>Bankverbindung:</h3> 

        <p>Raiffeisen Regionalbank Mödling eGen, Hauptstraße 27-29, 2340 Mödling</p>
        <p>IBAN: AT72 3225 0000 0191 7749 BIC: RLNWATWWGTD</p>

        <h3>Information lt. § 5 Absatz 1 E-Commerce-Gesetz; Offenlegung gem. Mediengesetz § 25:</h3>
        <p>
        Gemeinnütziger Sportverein; die Homepage bietet Informationen über alle relevanten Angelegenheiten des Vereines sowie des Wassersports und richtet sich vorwiegend an Vereinsmitglieder, steht aber allen am Wassersport interessierten Menschen offen.
        </p>
    </section>

</main>