---
layout: default
---

{{ content }}
<main>
    <section id="DerTurn">
        <section class="subsection introSection">
            <div class="introFlex">
                <div class="headingBox">
                    <h2><i>Der chilligste</i> <b>Studententurn</b></h2>
                    <p>Kurz vor Semesterstart nochmal eine Woche Sonne, Segeln, Fun: Eine kleine Flotille aus Booten voller Studierenden, die sich von Bucht zu Bucht bewegt und auf der sich Segeln, Schwimmen und Sippen abwechseln. Und das auch noch zum echt leistbaren Preis. Überzeugt? Join our crew! Wann: 16. – 23. September 2023 Wo: Kroatische Küste Unsere Flotille besteht aus mehreren Segelbooten für jeweils 6-8 Leute, wobei jeweils ein erfahrener Skip- per*in an Bord ist. Daher ist es auch völlig egal, ob du schon segeln kannst oder nicht: Es gibt genug Leute und Erfahrung an Bord, dass alles safe and sound ist. Unter Tags wird gesegelt und zwischendurch auch einmal entspannt ins Meer gesprungen, sodass wir abends immer an einem anderen Ort sein werden als in der Nacht zuvor. Funfact: Mit dem Boot segeln wir gleichzeitig unser Appartement von A nach B.</p>
                </div>
                <div class="slogans">
                    <p><b>3 Yachten</b></p>
                    <p><b>Erfahrene Skipper</b></p>
                    <p><b>1 Woche Segeln</b></p>
                </div>
            </div>
        </section>
<!--         <section class="subsection">
            <h3>Hardfacts</h3>
        </section>
        <h3>Warst du schon mal segeln?</h3>
        <h3>Hardfacts</h3> -->
<!--         <p>In 3 einfach Schritten kannst du am Segelturn Teilnehmen:</p>
        <div class="flex-container-steps">
            <div class="flex-item-steps">
                <div class="icon-circle">
                    
                    <i class="ri-check-line"></i>
                </div>
                <p>Moderne Segelyachten</p>
            </div>
            <div class="flex-item-steps">
                <div class="icon-circle">
                    <i class="ri-pass-valid-line"></i>
                </div>
                <p>Erfahrene Skipper </p>
            </div>
            <div class="flex-item-steps">
                <div class="icon-circle">
                    <i class="ri-sailboat-line"></i>
                </div>
                <p>Segeln, Schwimmen und Sippen</p>
            </div>
            <div class="flex-item-steps">
                <div class="icon-circle">
                    <i class="ri-sailboat-line"></i>
                </div>
                <p>Nicht Kommerziel und Nachhaltig</p>
            </div>
        </div> -->
            <section class="subsection background-lightgray">
            <h3 class="call-to-action">So einfach kannst du mitsegeln</h3>
            <div class="flex-container-steps">
                <div class="flex-item-steps">
                    <div class="big-number">
                        
                        1.
                    </div>
                    <p>Melde dich beim nachstehenden Link zum Infoevent an</p>
                </div>
                <div class="flex-item-steps">
                    <div class="big-number">
                        2.
                    </div>
                    <p> Werde beim Event OSYC Club Mitglied</p>
                </div>
                <div class="flex-item-steps">
                    <div class="big-number">
                        3.
                    </div>
                    <p>Lerne die Crew kennen und melde dich zum Segeltörn an</p>
                </div>
            </div>
            
            <div class="buttonContainter">
                <a class="blueButton" href="https://app.formbricks.com/s/cli34qe5z0cfqmt0hozuoovl8"><img alt="Adobe Acrobat Logo"src="/assets/img/calendar.svg">Anmelden zum Infoevent </a>
            </div>
        </section>
    </section>

    <section id="Events">
        <h2>Upcoming Events</h2>
    </section>

    <section id="DieCrew">
        <h2>Die Crew</h2>
        <div class="chargenFlex">
            {% assign sortedCrew = site.Crew | sort: 'priority'%}
            {% assign sortedAktivCrew  = sortedCrew  | where:"aktive","true"%}
            {% for crew in sortedAktivCrew %}
                <div class="chargenFlexElement">
                    <img src="{{crew.foto}}" alt="" class="rounded"> 
                    <h3>{{ crew.name }} </h3>
                    <h4>{{ crew.funktion }}</h4>
                    <p>{{ crew.erklaerung }}</p>
                    <a class="chargenEmail" href="mailto:{{ crew.email }}" target="_blank"> {{ crew.email }} </a>
                </div>
            {% endfor %}
            </div>
    </section>


<!--     <section id="Sponsoren">
        <h2>Sponsoren</h2>
        <p>Folgende Sponsoren ermöglichen den OSYC-Youth:</p>
        <div class="sponsorenWrapper">
             <div class="sponsor"><a href="https://www.osyc.at/" target="_blank"><img src="assets/img/osyc.webp" alt="OSYC-Austrian Offshore Yacht Club"></a></div>
            <div class="sponsor"><a href="https://www.ralphhofmann.com/" target="_blank"><img src="assets/img/ralph-hofmann-architektur.webp" alt="OSYC-Austrian Offshore Yacht Club"></a></div> 
        </div>
</section> -->
</main>