---
layout: default
---

{{ content }}
<main>
    <section id="DerTurn">
        <h1>Der Turn</h1>
        <h2>Warst du schon mal segeln?</h2>
        Falls ja – wunderbar! Falls nein – perfekt! Kurz vor Semesterstart nochmal eine Woche Sonne, Segeln, Fun: Eine kleine Flotille aus Booten voller Studierenden, die sich von Bucht zu Bucht bewegt und auf der sich Segeln, Schwimmen und Sippen abwechseln. Und das auch noch zum echt leistbaren Preis. Überzeugt? Join our crew! Wann: 16. – 23. September 2023 Wo: Kroatische Küste Unsere Flotille besteht aus mehreren Segelbooten für jeweils 6-8 Leute, wobei jeweils ein erfahrener Skip- per*in an Bord ist. Daher ist es auch völlig egal, ob du schon segeln kannst oder nicht: Es gibt genug Leute und Erfahrung an Bord, dass alles safe and sound ist. Unter Tags wird gesegelt und zwischendurch auch einmal entspannt ins Meer gesprungen, sodass wir abends immer an einem anderen Ort sein werden als in der Nacht zuvor. Funfact: Mit dem Boot segeln wir gleichzeitig unser Appartement von A nach B.
    </section>

    <section id="Events">
        <h1>Upcoming Events</h1>
    </section>

    <section id="DieCrew">
        <h1>Die Crew</h1>
        <div class="chargenFlex">
            {% assign sortedCrew = site.Crew | sort: 'priority'%}
            {% assign sortedAktivCrew  = sortedCrew  | where:"aktive","true"%}
            {% for crew in sortedAktivCrew %}
                <div class="chargenFlexElement">
                    <img src="{{crew.foto}}" alt="" class="rounded"> 
                    <h3>{{ crew.name }} </h3>
                    <h4>{{ crew.funktion }}</h4>
                    <p>{{ crew.erklaerung }}</p>
                    <a class="chargenEmail" href="mailto:{{ crew.email }}" target="_blank"> {{ crew.email }} </a>
                </div>
            {% endfor %}
            </div>
    </section>


    <section id="Sponsoren">
        <h1>Sponsoren</h1>
        <p>Folgende Sponsoren ermöglichen den OSYC-Youth:</p>
        <div class="sponsorenWrapper">
            <!-- <div class="sponsor"><a href="https://www.osyc.at/" target="_blank"><img src="assets/img/osyc.webp" alt="OSYC-Austrian Offshore Yacht Club"></a></div>
            <div class="sponsor"><a href="https://www.ralphhofmann.com/" target="_blank"><img src="assets/img/ralph-hofmann-architektur.webp" alt="OSYC-Austrian Offshore Yacht Club"></a></div> -->
        </div>
</section>
</main>